<h1>eat burger?</h1>

<h2>burgers</h2>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
      <li>
        {{burger_name}}
        <button class="eat-burger" data-id="{{this.id}}" data-eaten="{{devoured}}">EAT BURGER!</button>
      </li>
    {{/unless}}
  {{/each}}
</ul>

<h2>your burger history</h2>

<ul>
  {{#each burgers}}
    {{#if devoured}}
      <li>
        {{burger_name}}
        <button class="destroy-burger" data-id="{{this.id}}" data-eaten="{{devoured}}">DESTROY RECEIPT!</button>
      </li>
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="ca" name="name">
  </div>
  <button type="submit">Add Burger</button>
</form>
