<div class="jumbotron jumbotron-fluid text-center">
  <h1>eat burger?</h1>
</div>

<container>

<div class="row justify-content-center">
  <form class="create-form">
    <div class="form-group">
      <label for="ca">Add a burger:</label>
      <input type="text" id="ca" name="name">
      <button type="submit">Add Burger</button>
    </div>

    
  </form>
</div>

<div class="row justify-content-center">
<div class="card-deck w-50">

  <div class="card">
    <div class="card-header">burgers you haven't eaten yet</div>
    <ul class="list-group list-group-flush">
      {{#each burgers}}
        {{#unless devoured}}
          <li class="list-group-item">
            {{burger_name}}
            <button class="eat-burger float-right" data-id="{{this.id}}" data-eaten="{{devoured}}">EAT BURGER!</button>
          </li>
        {{/unless}}
      {{/each}}
    </ul>
  </div>

  <div class="card w-80">
    <div class="card-header">your burger eating history</div>
    <ul class="list-group list-group-flush">
      {{#each burgers}}
        {{#if devoured}}
          <li class="list-group-item">
            {{burger_name}}
            <button class="destroy-burger float-right" data-id="{{this.id}}" data-eaten="{{devoured}}">DESTROY!</button>
          </li>
        {{/if}}
      {{/each}}
    </ul>
  </div>

</div>
</div>
</container>